@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

h1 {
  font-size: 3rem;
}

button {
  width: 30%;
  height: 2.5em;
  border: 2px solid black;
  border-radius: 5px;
  background: lightblue;
  font-size: 1rem;
  color: black;
}

.content-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.board {
  height: 22.5em;
  width: 22.5em;
  border: 2px solid black;
  display: grid;
}

.grid-item {
  border: 1px solid rgb(233, 233, 233);
}

.style-container {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.size {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#slider {
  width: 30%;
}

#color-choice {
  border: none;
}
